# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build outputs
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.obj
*.dll
*.exe
*.lib
*.pdb
*.idb
*.log

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Others
*.ipch
*.tlog
*.lastbuildstate
*.aps
*.ncb
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
